<div class="row justify-content-md-center">
    <div class="col-4">
        <span _ngcontent-c8>
            <strong _ngcontent-c8>Bienvenido usuario(a)</strong>
        </span>
        <br _ngcontent-c8>
        <p _ngcontent-c8="" class="date m-0">
            Último Acceso: 21 Julio, 2023
        </p>
        <br _ngcontent-c27>
        <ul _ngcontent-c27 class="list-shorcuts ng-star-inserted">
            <li _ngcontent-c27="" class="list-shortcut-item ng-star-inserted">
            <div _ngcontent-c27="" class="text-center icon-container">
              <span _ngcontent-c27="" class="shortcut-list-icon flame- statements-dollar"></span>
            </div>
            <div _ngcontent-c27="" class="text-center description">
              <p _ngcontent-c27="" class="mb-0">Estados de cuenta</p>
            </div>
          </li>
          <li _ngcontent-c27="" class="list-shortcut-item ng-star-inserted">
            <div _ngcontent-c27="" class="text-center icon-container">
              <span _ngcontent-c27="" class="shortcut-list-icon flame- statements-dollar"></span>
            </div>
            <div _ngcontent-c27="" class="text-center description">
              <p _ngcontent-c27="" class="mb-0">Transfe rencias</p>
            </div>
          </li>
          <li _ngcontent-c27="" class="list-shortcut-item ng-star-inserted">
            <div _ngcontent-c27="" class="text-center icon-container">
              <span _ngcontent-c27="" class="shortcut-list-icon flame- statements-dollar"></span>
            </div>
            <div _ngcontent-c27="" class="text-center description">
              <p _ngcontent-c27="" class="mb-0">Pagos</p>
            </div>
          </li>
          <li _ngcontent-c27="" class="list-shortcut-item ng-star-inserted">
            <div _ngcontent-c27="" class="text-center icon-container">
              <span _ngcontent-c27="" class="shortcut-list-icon flame- statements-dollar"></span>
            </div>
            <div _ngcontent-c27="" class="text-center description">
              <p _ngcontent-c27="" class="mb-0">Movi mientos</p>
            </div>
          </li>
        </ul>
        <br _ngcontent-c27>
        <ul _ngcontent-c27 class="list-shorcuts ng-star-inserted">
            <li _ngcontent-c27="" class="list-shortcut-item ng-star-inserted">
            <div _ngcontent-c27="" class="text-center icon-container">
              <span _ngcontent-c27="" class="shortcut-list-icon flame- statements-dollar"></span>
            </div>
            <div _ngcontent-c27="" class="text-center description">
              <p _ngcontent-c27="" class="mb-0">Alta de contacto</p>
            </div>
          </li>
          <li _ngcontent-c27="" class="list-shortcut-item ng-star-inserted">
            <div _ngcontent-c27="" class="text-center icon-container">
              <span _ngcontent-c27="" class="shortcut-list-icon flame- statements-dollar"></span>
            </div>
            <div _ngcontent-c27="" class="text-center description">
              <p _ngcontent-c27="" class="mb-0">Trae tu nomina</p>
            </div>
          </li>
          <li _ngcontent-c27="" class="list-shortcut-item ng-star-inserted">
            <div _ngcontent-c27="" class="text-center icon-container">
              <span _ngcontent-c27="" class="shortcut-list-icon flame- statements-dollar"></span>
            </div>
            <div _ngcontent-c27="" class="text-center description">
              <p _ngcontent-c27="" class="mb-0">Inversiones</p>
            </div>
          </li>
        </ul>
      <div class="card" style="width: '18rem'">
        <div class="card-body">
          <h5 class="card-title">Cuenta</h5>
          <p class="card-text">Estado de cuenta</p>
          <ul>
            <li *ngFor="let line of data">{{line}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>